<div class="txt-clr">
        <mat-card  (click)="gtlogin()" class="card-pad-mar card-hei-wid item">
            <mat-card-header>
                <mat-card-title style="font-size: medium;">Hey guys,</mat-card-title>
                <mat-card-title>This is Sooriya MS</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content class="center">This Sales forcasting model gets the input csv dataset with the period and time which we need to predict. To improve the feature prediction, we can optionally include the periodicity of the data as a parameter.</mat-card-content>
            <br>
            <mat-card-content class="center">The models used here to predict future sales are ARIMA and SARIMA. If there is no seasonality in the dataset or the seasonality is set to one, then prediction is done using the ARIMA model. Or else, it uses SARIMA to predict the feature sales.</mat-card-content>
        </mat-card>
</div>